.cardproject-container {
  height: 520px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.cardproject-container > img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 520px;
}

.cardproject-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  text-decoration: none;
  color: #fff;
  z-index: 3;
}

.cardproject-container.large {
  height: 600px;
}

.cardproject-container.small {
  height: 200px;
}

.cardproject-url-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.cardproject-url-content h4 {
  font-size: 30px;
  line-height: 34px;
  font-weight: 400 !important;
}

.technologies-container {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px;
  right: 0px;
  z-index: 4;
}

.cardproject-urls {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
  gap: 10px;
}

.cardproject-urls > a {
  max-width: 200px;
  background-color: #000;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.cardproject-urls > a > img {
  width: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
}

.cardproject-urls > a:hover {
  outline: 1px solid #ffffff7d;
}

.cardproject-gradient {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}
