.cardtech-layout {
    background-color: #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    user-select: none;
}

.cardtech-layout img {
    width: 30px;
    margin-left: -5px;
}

.cardtech-layout.mongodb {
    background-color: #00ED64;
    padding-right: 8px;
}

.cardtech-layout.mysql {
    background-color: #faa723;
    padding-left: 5px;
    padding-right: 10px;
}


.cardtech-layout.node {
    background-color: #85be47;
    padding-left: 5px;
    padding-right: 8px;
}

.cardtech-layout.postgresql {
    background-color: #30628a;
    padding-left: 5px;
    padding-right: 8px;
}

.cardtech-layout.react {
    background-color: #00ccf2;
    padding-left: 8px;
    padding-right: 8px;
}