.grid-career-container {
    display: grid;
    grid-template-areas:
        'titleExp titleExp titleExp'
        'messageExp messageExp tags';
}

.grid-career-container h2 {
    grid-area: titleExp;
    font-size: 44px;
    font-weight: 500;
    line-height: 80px;
}

.grid-career-container p {
    grid-area: messageExp;
    font-size: 20px;
    font-weight: 300;
    line-height: 33px;
}

.technologies-list {
    margin-left: 50px;
}

.technologies-tag {
    font-size: 14px;
    display: inline-block;
    padding: 6px 14px;
    border: 0px solid #e8e8e8;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-weight: 400;
    margin: 2px;
}